@font-face {
  font-family: 'iconfont';  /* project id 574843 */
  src: url('https://at.alicdn.com/t/font_574843_ldjvtj192g9zfr.eot');
  src: url('https://at.alicdn.com/t/font_574843_ldjvtj192g9zfr.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_574843_ldjvtj192g9zfr.woff') format('woff'),
  url('https://at.alicdn.com/t/font_574843_ldjvtj192g9zfr.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_574843_ldjvtj192g9zfr.svg#iconfont') format('svg');
}
body{
	width: 100%;
	background-color: #fffefe;
	overflow: scroll;
}
.header{
	float: left;
	width: 100%;
	height: 2.7rem;
	position: fixed;
	z-index: 999;
	background-color:#fffefe; 
}
.top_nav{
	width: 100%;
	height: 1.56rem;
	text-align: center;
	z-index: 99;
}
.top_nav span{
	font-size: 0.4rem;
	margin-top: 0.54rem;
	text-align: center;
	color: #321e1e;
}
.top_nav .top_nav1{
	color: #ff2d47;
	border-bottom: 0.06rem solid #ff2d47;
}
.sousuo{
	left: 0;
	top: 1rem;
	float: left;
	width: 10.2rem;
	height: 0.9rem;
	border-radius: 0.9rem;
	background-color: #faf5f5;
	margin-top: 0.21rem;
	margin-left: 0.29rem;
	z-index: 999;
	/* margin: 0 auto; */
}
.sousuo img{
	float: left;
	width: 0.5rem;
	height: 0.5rem;
	margin-top: 0.2rem;
	margin-left: 3.3rem;
}
.sousuo span{
	float: left;
	color: #8c7878;
	text-align: center;
	line-height: 0.9rem;
	font-size: 0.34rem;
}
.content{
	float: left;
	margin-top: 0.66rem;
	width: 100%;
	height: 13.5rem;
	border-bottom: 20px solid #faf5f5;
	/* background-color: red; */
	margin-top: 2.5rem;
}
.content1{
	float: left;
	margin-top: 0.66rem;
	width: 100%;
	height: 11.5rem;
	border-bottom: 20px solid #faf5f5;
	margin-top: 0.2rem;
}
.content_item{
	float: left;
	width: 5rem;
	height: 12rem;
	margin-left: 0.3rem;
	/* background-color: blue; */
	position: relative;
	margin-top: 0.6rem;
}
.content_item p{
	font-size: 0.3rem;
	color: #8c7878;
}
.content_item img{
	/* float: left; */
	display: inline-block;
	width: 3.9rem;
	height: 2.1rem;
	border-radius: 5%;
	margin-top: 0.3rem;
}
.content_item_wenzi{
	/* float: left; */
	/* margin-top: 0.05rem; */
	margin-left: 0.02rem;
	width: 2.4rem;
	height: 1.3rem;
	/* background-color: green; */
}
.content_item_wenzi p{
	padding-left: 0.1rem;
	float: left;
	font-size: 0.44rem;
	color: #321e1e;
}
.content_item_wenzi span{
	padding-left: 0.1rem;
	float: left;
	font-size: 0.36rem;
	color: #a09696;
	/* padding-top: 0.22rem; */
}
.xiayiye{
	font-family: 'iconfont';
	font-size: 0.24rem;
	margin-right: 0.48rem;
}
.chakan{
	float: right;
}
.content_item_fenlei{
	width: 4.92rem;
	height: 9.15rem;
	margin-top: 0.3rem;
	/* background-color: yellow; */
}
.chakanquanbu{
	width: 4.92rem;
	height: 9.15rem;
	margin-top: 0.75rem;
	/* background-color: yellow; */
}
.content_item_fenlei img,.chakanquanbu img{
	width: 1.84rem;
	height: 2rem;
	float: right;
	margin-top: -1.2rem;
}
.content_item_fenlei_item{
	width: 4.92rem;
	height: 2.85rem;
	border-radius: 5%;
	background-color: #f3efee;
	margin-top: 0.3rem;
}
.content_item_fenlei_item h1{
	padding-top: 0.9rem;
	margin-left: 0.5rem;
	font-size: 0.44rem;
	color: #271312;
}
.content_item_fenlei_item p{
	margin-left: 0.5rem;
	font-size: 0.34rem;
	color: #544343;
}
.nav_bottom{
	float: left;
	width: 100%;
	height: 1.65rem;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #fff;
}
.nav_bottom_line{
	float: left;
	width: 100%;
	height: 0.02rem;
	background-color: #f0ebeb;
	margin-top: 0.21rem;
}
.nav_bottom_neirong{
	width: 8.9rem;
	height: 1.3rem;
	margin: 0 auto;
	/* background-color: green; */
	margin-top: 0.32rem;
}
.nav_bottom_item{
	float: left;
	width: 0.7rem;
	height: 0.6rem;
	margin-right: 2rem;
	/* background-color: blue; */
}
.nav_bottom_item_aa{
	font-size: 0.6rem;
	color: #b9aaaa;
	font-family:'iconfont'; 

}
.nav_bottom_item_bb,.nav_bottom_item .nav_bottom_item_bb{
	color: #ff4258;
}

.nav_bottom_item a{
	font-size: 0.22rem;
	margin-top: .15rem;
	color: #321e1e;
	float: left;
}
.nav_bottom_item1{
	margin-right: 0;
}
